body {
    background-image: url(img/filip-zrnzevic-QsWG0kjPQRY-unsplash.png);
    background-color: #344e41;
    background-size: cover;
    color: white;
    font-size: 40pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

#info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12pt;
    position: fixed;
    z-index: 5;
    top: 0;
    padding: 1vh 5vh 1vh 5vh;
    align-items: center;
    height: 3vh;
    background-color: rgba(0, 0, 0, 0.3);
}   

a {
    max-height: 100%;
}


a > img {
    height: 3vh;
    transition: height 200ms ease;
}

a:hover > img {
    height: 4vh;
}

li {
    list-style: none;
    display: inline-block;
    padding-left: 3vh;
}

li > a { 
    color: white;
    text-decoration: none;
    font-weight: bold;
}

ul {

    margin: 0;
    padding: 0;
    display: inline-block;
}

#info > ul {
    flex-basis: 60%;
    display: flex;
    justify-content: end;
    padding-right: 5%;
}

#menu {
    height: 75vh;
    display: flex;
    align-items: center;
    margin-left: 8vh;
}

#menu-items {
    margin-left: 5vh;
}

#menu-items:hover > .item {
    opacity: 0.3;
}

#menu-items:hover > .item:hover > .disabled {
   opacity: 1;
}

#menu-items:hover > .item:hover {
    opacity: 1;
    font-size: 50pt;
}

.item {
    color: white;
    display: block;
    text-decoration: none;
    padding-top: 1vh;
    padding-bottom: 1vh;
    transition: opacity 300ms ease, font-size 300ms ease;
    position: relative;
    z-index: 2;
}

#menu-background {
    height: 100%;
    width: 100%;
    background-image: radial-gradient(
        rgba(0, 0, 0, 0.075) 85%,
        transparent 0%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 0;
    transition: opacity 500ms ease, background-size 500ms ease, background-position 500ms ease;
}

#menu-background-image {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 0px;
    opacity: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-position 500ms ease, background-image 200ms ease;
}

#menu-items:hover ~ #menu-background {
    background-size: 11vmin 11vmin;
}

.social {
    font-size: 1.5vw;
    position: relative;
    top: 0.5vh;
    opacity: 0.3;
    transition: opacity 200ms ease, font-size 200ms ease;
}

.social:hover {
    font-size: 2vw;
    opacity: 1;
}

.disabled {
    opacity: 0;
    transition: opacity 200ms ease;
}

#menu-background-image-story {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 0px;
    opacity: 50%;
    background-attachment: fixed;
    background-size: cover;
}

#container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10vh;
}

.story {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    width: 50%;
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 1em;
    margin: 1em;
    margin-top: 0;
}

h3 {
    padding: 0.25em;
    font-size: 3vh;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 50%;
    margin-bottom: 0.5em;
    text-align: center;
}

h4 {
    font-size: 1.5vh;
    padding: 0.25em;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 40%;
    margin-bottom: 0.25em;
    text-align: center;
}

.story > p {
    font-size: 1.25vh;
    line-height: 200%;
}

.imagecontainer, .videocontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imagecontainer {
    flex: 0 0 25%;
}

iframe {
    width: 100%;
    height: 100%;
}

.videocontainer {
    flex: 0 0 35%;
    height: 15vh;
}

.storyimg {
    max-height: 25vh;
    transition: max-height 300ms ease;
}

.storyimg:hover {
    max-height: 35vh;
    border: white solid 5pt;
}

.storyvid:hover {
    border: white solid 5pt;
}

figcaption {
    opacity: 0.5;
    text-align: center;
    margin-top: 1em;
    font-size: 11pt;
    transition: opacity 300ms ease, font-size 300ms ease;;
}

.storyimg:hover ~ figcaption {
    opacity: 1;
    font-size: 18pt;
}

#container[shrink="1"] ~ #menu-background {
    background-size: 11vmin 11vmin;
}

#container[activeIndex="0"] ~ #menu-background {
    background-position: 0% -40%;
}

#container[activeIndex="1"] ~ #menu-background {
    background-position: 0% -80%;
}

#container[activeIndex="2"] ~ #menu-background {
    background-position: 0% -120%;
}

#container[activeIndex="3"] ~ #menu-background {
    background-position: 0% -160%;
}

#container[activeIndex="4"] ~ #menu-background {
    background-position: 0% -200%;
}

#menu[activeIndex="0"] > #menu-background {
    background-position: 0% -20%;
}

#menu[activeIndex="1"] > #menu-background {
    background-position: 0% -40%;
}

#menu[activeIndex="2"] > #menu-background {
    background-position: 0% -60%;
}

#menu[activeIndex="3"] > #menu-background {
    background-position: 0% -80%;
}

#menu[activeIndex="0"] > #menu-background-image {
    background-position: 0% 10%;
    background-image: url(https://images.unsplash.com/photo-1602987612613-fd86702182c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
}

#menu[activeIndex="1"] > #menu-background-image {
    background-position: 0% 20%;
    background-image: url(https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
}

#menu[activeIndex="2"] > #menu-background-image {
    background-position: 0% 30%;
    background-image: url(https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-4.0.&3ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}

#menu[activeIndex="3"] > #menu-background-image {
    background-position: 0% 40%;
    background-image: url(https://images.unsplash.com/photo-1562877773-a37120131ec4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80);
}
